<div>
	<form #searchForm="ngForm" (submit)="onSubmit(searchForm.value)" ngNativeValidate>
		<input type="text" name="firstName" placeholder="Search by First Name" [ngModel]="search" ><br>
		<select (change)="setSortOrder( $event.target.value )">
			<option *ngFor = "let sort of sorts" [value]="sort.value">{{ sort.sortName }}</option>
		</select><br>
		<input type="number" name="size" placeholder="Select Size" [ngModel]="size" ><br>
		<input type="number" name="page" placeholder="Page Displayed" [ngModel]="page" >
		<button type="submit">Search</button>
	</form>
		<table border="1px">
		<thead>
			<tr>
			<th> First Name <span class="glyphicon sort-icon"></span></th>
			<th> Middle Name</th>
			<th> Last Name</th>
			<th> Email </th>
			<th> Phone Number</th>
		</tr>
		</thead>
		<tbody>
			<tr *ngFor="let user of users | paginate: { itemsPerPage: size, currentPage: p, maxSize: totalPages }; let i=index " >
			<td>{{ user?.firstName }}</td>
			<td>{{ user?.middleName }}</td>
			<td>{{ user?.lastName }}</td>
			<td>{{ user?.email }}</td>
			<td>{{ user?.phoneNumber }}</td>
		</tr>
		</tbody>
	</table> <br>
	<button [disabled]="isBase()"><a *ngIf="!isBase()" (click)=" onSubmit({page: page-1})"></a>Prev</button>
	<button *ngFor="let page of pages; let i = index " (click)=" onSubmit({page:i})">{{i+1}}</button> 
	<button [disabled]="isCeiling()"><a *ngIf="!isCeiling()" (click)=" onSubmit({ page:page+1 })">Next</a></button>
</div>